.section {
     /* Занимает всю ширину */
    height: 100%; /* Занимает всю высоту экрана */
    display: flex;
    flex-direction: column; /* Выстраиваем элементы в колонку */
    justify-content: flex-start; /* По умолчанию элементы будут выравниваться сверху */
    padding: 10px;
    gap: 20px;
    border: solid white;
    box-sizing: border-box; /* Учитываем padding в ширине и высоте */
  }
  
  
  
