.section {
    width: 100%; /* На всю ширину экрана */
    height: 100vh; /* На всю высоту экрана */
    border: 1px solid white; /* Белая рамка */
    margin: 0; /* Убираем отступы */
    display: flex;
    justify-content: space-between; /* Расстояние между элементами */
    align-items: center; /* Центрирование по вертикали */
    box-sizing: border-box; /* Учитывает рамки в ширине и высоте */
  }
  
  
  
