.resultContainer {
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 8px;
  color: white;
}

.resultTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.resultList {
  list-style: none;
  padding: 0;
}

.resultItem {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #2e2e2e;
  border-radius: 5px;
}

.filmTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #f5c518;
}

.filmInfo {
  font-size: 14px;
  margin: 2px 0;
  color: #ddd;
}
